* {
  font-family:"Montserrat", "Courier New", monospace;;
}


.left{
  text-align: left;
  margin-left: 5%;  
}

.center{
  text-align: center;
  align-items: center;
}
  
.right{
  text-align:right;
  margin-right: 5%;
}
  
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
  
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
  
header {
  margin:0;
  padding:0;
  width: 100%;
  font-size: 22px;
  color: #f1f1f1f1;
  background-color: black;
  background-size: 100vw 100vh;
}
  

#name{
  height:10px;
}  

#line2 {
  position: relative; /* Make #line2 the reference element */
  justify-content: space-between;
  width: 100%;
  display: inline-flex;
}

nav {
  position: absolute; /* Make navigation element absolute */
  top: 0; /* Position at the top of #line2 */
  right: 0; /* Position at the right of #line2 */
  display: flex; /* Activate flexbox for navigation links */
  justify-content: space-between; /* Distribute links evenly */
  align-items: center; /* Align links vertically in the center */
  margin-right: 5.1%;
}

#course{
  margin-left: 2%;
  width:40%;
}

  
.navigation a {
  margin-left: 85px;
}

body{
  /*border: 1px solid red;*/
  font-size: 22px;
  margin:0;
  padding:0;
}

#Milo{
  margin-top: 2%;
  margin-right: 5%;
  float: right;
  border: 2px solid black;
}

#l1{
  margin-left: 10%;
  height:10px;
}

#l2{
  margin-left:15%;
}

#p1{
  margin-left:5%;
  margin-right: 35%;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
}

#proj1{
  transition: opacity 0.3s ease-in-out;
}

#proj1:hover{
  transition: opacity 0.3s ease-in-out;
  opacity:0.5;
}