* {
  font-family:"Montserrat", "Courier New", monospace;;
}


.left{
  text-align: left;
  margin-left: 5%;  
}

.center{
  text-align: center;
  align-items: center;
}
  
.right{
  text-align:right;
  margin-right: 5%;
}
  
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
  
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
  
header {
  margin:0;
  padding:0;
  width: 100%;
  font-size: 22px;
  color: #f1f1f1f1;
  background-color: black;
  background-size: 100vw 100vh;
}
  

#name{
  height:10px;
}  

#line2 {
  position: relative; /* Make #line2 the reference element */
  justify-content: space-between;
  width: 100%;
  display: inline-flex;
}

nav {
  position: absolute; /* Make navigation element absolute */
  top: 0; /* Position at the top of #line2 */
  right: 0; /* Position at the right of #line2 */
  display: flex; /* Activate flexbox for navigation links */
  justify-content: space-between; /* Distribute links evenly */
  align-items: center; /* Align links vertically in the center */
  margin-right: 5.1%;
}

#course{
  margin-left: 3%;
  width:40%;
}

  
.navigation a {
  margin-left: 85px;
}

html { 
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  width: 100%;
  height: 100%;
  /*border: 1px solid red;*/
  font-size: 20px;
  margin:0;
  padding:0;
}

#Milo{
  margin-top: 2%;
  margin-right: 5%;
  float: right;
  border-radius: 50%;
  border: 2px solid black;
}

#l1{
  margin-left: 10%;
  height:10px;
}

#l2{
  margin-left:15%;
  margin-bottom:5%;
}

#l3{
  padding:0;
}

#p1{
  margin-left:5%;
  margin-right: 35%;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
}

/*projects*/
projectbox{
  display: block;
  margin: auto;
}

.proj{
  transition: opacity 0.3s ease-in-out;
}

.proj:hover{
  transition: opacity 0.3s ease-in-out;
  opacity:0.5;
}

#fpga{
  margin-left: 3%;
  margin-right: 3%;
}

#pi_cam{
  float: right;
}

intro{
  display: flex;
}

#pipara{
  margin-left:5%;
}

#pisystem{
  margin-left: 5%;
  margin-bottom:5%;
  float:left;
}

#pidiagram{
  margin-right: 5%;
}

middle{
  display:flex;
}

video {
  display: block;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

/*contact page*/

#content-wrapper{
  display: flex; 
}

#contact-tag{
  margin-left: 15%;
  width: fit-content;
  height: fit-content;
}

#contact{
  list-style: none;
  width: 25%;
}

#contact li{
  margin-bottom: 20px;
  list-style: none;
}

#namebox{
  height:20px;
}

#contact li {
  display: flex; /* Activate flexbox for list items */
  justify-content: space-between; /* Distribute content horizontally */
}